
@font-face {
    font-family: Papyrus;
    src: url(Fonts\PAPYRUS.TTF);
    src: url(Fonts\Papyrus-Regular.eot);
    src:url(Fonts\Papyrus-Regular.woff) format("woff");
    src: url(Fonts\Papyrus-regular.svg) format("svg");
}

html body{
    margin: 0px;
    overflow-x: hidden !important;
}

@media screen and (max-width: 1000px) {
    .heading{
        padding: 15px !important;
    }
}
 

.heading{ /* For the heading layer */
    overflow: hidden;
    background-color: #8c4014;
    padding: 15px;
    transition: 0.5s;
}
.heading h1{
    color: white;
    font-family: Papyrus;
    text-align: center;
    font-size:50px;
    transition: 0.5s;
}
.heading p{
    color: white;
    font-family: Papyrus;
    text-align: center;
    font-size:30px;
    transition: 0.5s;
}

.naviconcontainer{
    position: fixed;
    cursor: pointer;
    background-color:#e99700;   
    border-radius: 5px;
    border-width: 5px;
    border-style: none;
    top:10px;
    left:10px;
    z-index: 2;
    margin: auto;
}

.icon1, .icon2, .icon3 {
    width: 40px;
    height: 5px;
    background-color: rgb(0, 2, 2);
    margin: 5px;
    transition: 0.3s;
}

.animation .icon1{
    transform: rotate(45deg) translateX(2px) translateY(12px);
}

.animation .icon2{
    opacity: 0;
}

.animation .icon3{
    transform: rotate(-45deg) translateX(2px) translateY(-12px);
}

.navmenu{
    position: fixed;
    background-color: #e99700;
    height:100%;
    width:0;
    top:0px;
    left:0px;
    transition: 0.5s;
    overflow-x: hidden;
}

.navmenu a{
    color: #ffffff;
    padding: 8px 8px 8px 8px;
    font-size: 50px;
    display: block;
    width: 100%;
    transition: 0.5s;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.navmenu a:hover {
    color: #ff0eeb;
    background-color: rgb(28, 0, 153);
    width: 100%;
    text-decoration-color: rgb(255, 255, 255); 
}

.link1{
    position: absolute;
    top:100px;
}

.link2{
    position:absolute;
    top: 200px;
}

.link3{
    position:absolute;
    top: 300px;
}

.link4{
    position:absolute;
    top: 400px;
}

.contactForm {
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    border-radius:50px;
    border: 2px solid red;
    padding: 30px;
}

input[type=text], input[type=email], textarea{
    width: 99%;
    padding: 10px;
    margin-top:10px;
    margin-bottom: 20px;
    resize: vertical;
    border-radius: 20px;
    border-style: solid;
}

input[type=submit] {
    background-color: sandybrown;
    color: black;
    padding: 5px;
    border-style: solid;
    border-color: sandybrown;
    border-radius: 15px;
    cursor: pointer;
    margin: auto;
    font-size: 25px;
}

input[type=submit]:hover{
    background-color: chocolate;
    color: white;
    border-color: chocolate;
}

/* .title {
    text-align: center;
    font-size: 25px;
    font-family: Papyrus;
} */




